@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');



body {
  margin: 0;
  padding: 0;
  background: url('/Resources/back.jpg') no-repeat center center fixed; 
  background-size: cover;
  font-family: 'Noto Sans';
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 300px;
}

/* Home page */

.container {
  margin: 0px 20px;
  backdrop-filter: blur(10px);
  opacity: 0.8;
  background: rgba(255, 255, 255, 0.09);
  padding: 20px;
  border-radius: 10px;
  width: 500px; /* Adjust width as needed */
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  text-align: center;
  font-style: lig;
  padding: 20px 10px;
  font-size: 2em;
  color: white;
  font-size: 20pt;
  letter-spacing: 8px;
  font-weight: 200;
}

hr{
  width: 90%;
}
/* Button Styles */

.button {
  backdrop-filter: blur(10px);
  opacity: 0.8;
  background: rgba(255, 255, 255, 0.09);
  display: inline-flex;
  height: 80px;
  width: 250px;
  border-radius: 10px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 12pt;
  letter-spacing: 30pt;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: auto;
}

a {
  color: #BFC0C0;
  text-decoration: none;
  letter-spacing: 1px;
}

#button-2 {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

#button-2 a {
  position: relative;
  transition: all .35s ease-Out;
}

#slide {
  width: 100%;
  height: 100%;
  left: -250px;
  background: #BFC0C0;
  position: absolute;
  transition: all .35s ease-Out;
  bottom: 0;
}

#button-2:hover #slide {
  left: 0;
}

#button-2:hover a {
  color: #2D3142;
}


